/*font-family: "Raleway", serif;
font-family: "Roboto", serif;*/
body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}
/* defaul */

ul, ol {list-style-type: none;
margin: 0;
padding: 0;}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a {text-decoration: none;}
img {display: block;}

/*header*/
.header-container{
    display: flex;
    align-items: center;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 15px;
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
}

.logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.header-logo .logo-part {color: #2E2F42;}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;

}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }

.nav-link:hover {color: #404BBF;}
.nav-link:focus {color: #404BBF;} 

.contacts {font-style: normal;
margin-left: auto;}
.contact-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    }

.contact-link:hover {color: #404BBF;}
.contact-link:focus {color: #404BBF;}

/*footer*/

.page-footer {background-color: #2E2F42;
padding-right: 1020px;
padding-left: 152px;
padding-top: 100px;
padding-bottom: 100px;}
.footer-logo .logo-part {color: #F4F4FD}
.footer-text{color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
margin-top: 16px;}
.team {background-color: #F4F4FD;
    place-items: center;}
.button-section {
    background-color: #2e2f42;
}

.container-button{padding: 188px;}

.button-header {font-size: 56px;
    display: block;
    align-items: center;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;}
.header-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    padding-top: 16px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 16px;
}
.header-button:hover {background-color: #404BBF}
.header-button:focus {background-color: #404BBF}
.items-list {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.item-header {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    align-items: center;
    place-items: center;
    gap: 24px;
    margin-top: 72px;
    padding-bottom: 120px;
    
}



.item-paraghraf { font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
}
.team-header {font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
padding-top: 120px;}
.team-item {background-color: #FFFFFF;
    border: 2px solid #e7e9fc;}
.portfolio-header {font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 24px;}
.portfolio-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-item {
    background-color: #FFFFFF;
    border: 2px solid #e7e9fc;
    margin-top: 48px;
}
.portfolio-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
address {font-style: normal}
.portfolio-description {line-height: 1.5;
    letter-spacing: 0.02em;}
.contact-list {color: #434455 }
.contact-item {color: #434455;}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: auto;
}
.benefits-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 152px;
    margin-left: 152px;
}
.benefits {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
margin-bottom: 24px;}
.benefits-list-container{
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
    border-bottom: 1px solid #e7e9fc;
}
.footer-container {max-width: 264px;}
.portfolio {background-color: #ffffff;
    place-items: center;}
.portfolio-container{
    padding-top: 120px;
    padding-bottom: 120px;
}